Makefile
CMakeCache.txt
cmake_install.cmake
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeOutput.log
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.21.1/CMakeCCompiler.cmake
CMakeFiles/3.21.1/CMakeCXXCompiler.cmake
CMakeFiles/3.21.1/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.21.1/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.21.1/CMakeSystem.cmake
CMakeFiles/3.21.1/CompilerIdC/a.out
CMakeFiles/3.21.1/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.21.1/CompilerIdCXX/a.out
CMakeFiles/3.21.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/surph.dir/build.make
CMakeFiles/surph.dir/cmake_clean.cmake
CMakeFiles/surph.dir/compiler_depend.make
CMakeFiles/surph.dir/compiler_depend.ts
CMakeFiles/surph.dir/depend.make
CMakeFiles/surph.dir/DependInfo.cmake
CMakeFiles/surph.dir/flags.make
CMakeFiles/surph.dir/link.txt
CMakeFiles/surph.dir/progress.make
CMakeFiles/surph.dir/src/main.cpp.o
CMakeFiles/surph.dir/src/main.cpp.o.d